*{
<<<<<<< HEAD
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

html{
  font-family: Poppins;
}

header{
  font-size: 1.75rem;
  font-weight: bolder;

  color: #F1f1f1;
  background: rgb(174, 75, 240);

  text-align: center;

  padding: 3rem 1rem;
}

main{
  margin: 2rem;
=======
  font-family: Poppins;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-blue: #133A79;
  --primmary-green: #0bb10b;
}

header{
  color: #F1F1F1;

  background: var(--primary-blue);

  text-align: center;

  padding: 2rem;
}

main{
  margin: 2rem 1rem;

  display: flex;
  justify-content: space-around;
}

main h3{
  color: var(--primmary-green);
}

main ul{
  list-style: none;
}

main ul li{
  margin: 1rem;
}

ul>li label{
  margin: .5rem;
>>>>>>> dca28a9d8c7e422b7d7ec0062fc47b049edfa704
}